You have been invited to #{@chat.name} on <span style="text-decoration:underline;">#{@chat.date.strftime("%a, %d/%m/%Y")} at #{@chat.time.strftime("%H:%M")}</span> by #{@chat.person.to_s}.

%br
%br
=link_to "#{chat_url(@chat, token: @invitation.token)}", "#{chat_url(@chat, token: @invitation.token)}"
