<!DOCTYPE html>
<html>
  <head>
    <%= render partial: 'layouts/meta' %>
    <title>NomCensus</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href='http://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= render partial: 'layouts/navbar' %>
    <%= yield %>

  </body>
</html>
